
:root {
  --body-background: #F8F8F8;
  --pill-background: #ffffff;
  --pill-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 4px 13px 0px rgba(0, 0, 0, 0.02);
  --pill-shadow-hover: 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 4px 13px 0px rgba(0, 0, 0, 0.08);
  --pill-text-color: #555555;
  --modal-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 6px 8px 0px rgba(0, 0, 0, 0.04);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--body-background);
  font-family: Inter, 'system-ui', Arial, 'sans-serif';
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh; 
}

.pills-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 0;
  position: relative;
  overflow: hidden;
  max-width: 800px;
  gap: 12px;
}

.pills-container:before,
.pills-container:after {
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 150px;
  z-index: 1;
}

.pills-container::after {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--body-background));
}

.pills-container::before {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--body-background));
}

.pill-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.pill-row:hover .pill-group,
.pill-row:focus .pill-group
 {
  animation-play-state: paused;
}

.pill-group {
  animation: 60s drift infinite linear;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.pill {
  align-items: center;
  background: var(--pill-background);
  box-shadow: var(--pill-shadow);
  border: none;
  border-radius: 8px;
  color: var(--pill-text-color);
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  margin: 0 12px 0 0;
  padding: 8px 16px;
  transition: box-shadow 0.5s;
}

.pill:hover {
  /* Find a more performant way to do this transition */
  box-shadow: var(--pill-shadow-hover);
}

.pill img {
  height: 24px;
  width: auto;
}

.pill-modal {
  align-items: flex-start;
  background: var(--pill-background);
  border-radius: 8px;
  box-shadow: var(--modal-shadow);
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 64px 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  z-index: 2;
}

.pill-modal img {
  height: 74px;
  width: auto;
}
.pill-modal-text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pill-modal h2 {
  font-size: 28px;
  font-weight: 800;
}

.pill-modal p {
  color: var(--pill-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.pill-modal button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  right: 0;
  top: -40px;
}

@keyframes drift {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Some really fast responsive styles */
@media screen and (max-width: 680px) {
  .pill-modal {
    border-radius: 0;
    min-width: 320px;
    gap: 20px;
    padding: 64px 12px;
    width: 100%;
  }

  .pill-modal img {
    height: 36px;
  }

  .pill-modal h2 {
    font-size: 24px;
  }

  .pill-modal p{
    font-size: 12px;
  }

}